<a href="https://colab.research.google.com/github/anr-iwnl/HomeWork/blob/main/work5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Array6. Даны целые числа N (> 2), A и B. Сформировать и вывести целочислен- ный массив размера N, первый элемент которого равен A, второй равен B, а каждый последующий элемент равен сумме всех предыдущих.

In [17]:
def create_array(N, A, B):
    arr = [A, B]
    for _ in range(2, N):
        arr.append(sum(arr))
    return arr

N = int(input())
A = int(input())
B = int(input())
result = create_array(N, A, B)
print(*result)

7
2
5
2 5 7 14 28 56 112

Array12. Дан массив A размера N (N — четное число). Вывести его элементы с четными номерами в порядке возрастания номеров: A2, A4, A6, …, AN. Условный оператор не использовать.

In [20]:
n = int(input())
a = list(map(int, input().split()))
even_elements = a[1::2]
print(*even_elements)

1
2

Array26. Дан целочисленный массив размера N. Проверить, чередуются ли в нем четные и нечетные числа. Если чередуются, то вывести 0, если нет, то вывести порядковый номер первого элемента, нарушающего закономер- ность.

In [19]:
n = int(input())
arr = list(map(int, input().split()))
for i in range(n - 1):
    if (arr[i] % 2 == arr[i + 1] % 2):
        print(i + 1)
        break
else:
    print(0)

1
2
0

Array29. Дан массив A размера N. Найти максимальный элемент из его элемен- тов с нечетными номерами: A1, A3, A5, … .

In [21]:
n = int(input())
a = list(map(int, input().split()))
max_value = max(a[::2])
print(max_value)

10
5
5

Array51. Даны массивы A и B одинакового размера N. Поменять местами их со- держимое и вывести вначале элементы преобразованного массива A, а за- тем — элементы преобразованного массива B.

In [22]:
n = int(input())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a, b = b, a

print(*a)
print(*b)

33
2
14
14
2

Matrix4. Даны целые положительные числа M, N и набор из N чисел. Сформировать матрицу размера M * N, у которой в каждой строке содержатся все числа из исходного набора (в том же порядке).

In [35]:
m = int(input())
n = int(input())
numbers = list(map(int, input().split()))
matrix = [numbers[:] for _ in range(m)]
for row in matrix:
    print(*row)

3
4
1
1
1
1

Matrix12. Дана матрица размера M * N. Вывести ее элементы в следующем порядке: первый столбец сверху вниз, второй столбец снизу вверх, третий столбец сверху вниз, четвертый столбец снизу вверх и т. д.

In [40]:
m = int(input())
n = int(input())
matrix = [[int(j) for j in input().split()] for _ in range(m)]

for col in range(n):
    if col % 2 == 0:
        for row in range(m):
            print(matrix[row][col], end=' ')
    else:
        for row in range(m - 1, -1, -1):
            print(matrix[row][col], end=' ')

4
3
1 2 3 4
5 6  7 8
9 10 11 12
13 14 15 16
1 5 9 13 14 10 6 2 3 7 11 15

Matrix23. Дана матрица размера M * N. В каждой строке матрицы найти минимальный элемент.

In [41]:
matrix = [[3, 5, 1], [8, 2, 7], [4, 9, 6]]
mins = [min(row) for row in matrix]
print(mins)

[1, 2, 4]

Matrix51. Дана матрица размера M * N. Поменять местами строки, содержащие минимальный и максимальный элементы матрицы.

In [42]:
def swap_min_max_rows(matrix):
    m, n = len(matrix), len(matrix[0])
    min_row_idx = max_row_idx = None

    for i in range(m):
        if min_row_idx is None or min(matrix[min_row_idx]) > min(matrix[i]):
            min_row_idx = i

        if max_row_idx is None or max(matrix[max_row_idx]) < max(matrix[i]):
            max_row_idx = i

    matrix[min_row_idx], matrix[max_row_idx] = matrix[max_row_idx], matrix[min_row_idx]

M, N = map(int, input().split())
matrix = [list(map(int, input().split())) for _ in range(M)]
swap_min_max_rows(matrix)
for row in matrix:
    print(*row)

3 3
1 2 3
4 5 6
7 8 9
7 8 9
4 5 6
1 2 3

Matrix90. Дана квадратная матрица порядка M. Обнулить элементы матрицы, лежащие на побочной диагонали и ниже нее. Условный оператор не использовать.

In [44]:
def zero_below_secondary_diagonal(matrix):
    n = len(matrix)
    for i in range(n):
        for j in range(i + 1):
            matrix[i][n - 1 - j] = 0
m = int(input())
matrix = [list(map(int, input().split())) for _ in range(m)]
zero_below_secondary_diagonal(matrix)
for row in matrix:
    print(*row)

4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16
1 2 3 0
5 6 0 0
9 0 0 0
0 0 0 0