<a href="https://colab.research.google.com/github/anr-iwnl/HomeWork/blob/main/%D0%9F%D0%BE%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Раздел Begin 1-5**

Begin1. Дана сторона квадрата a. Найти его периметр P = 4·a.

In [17]:
a=float(input())
P=4*a
print(P)

7
28.0

Begin2. Дана сторона квадрата a. Найти его площадь S = a2.

In [11]:
a=float(input())
S=a**2
print(S)

6
36.0

Begin3. Даны стороны прямоугольника a и b. Найти его площадь S = a·b и периметр P = 2·(a + b).

In [12]:
a=float(input())
b=float(input())
S=a*b
P=2*(a+b)
print(S)
print(P)

14
11
154.0
50.0

Begin4. Дан диаметр окружности d. Найти ее длину L = ·d. В качестве значе- ния  использовать 3.14.

In [13]:
d=float(input())
L=3,14*d
print(L)

9
(3, 126.0)

Begin5. Дана длина ребра куба a. Найти объем куба V = a3 и площадь его по- верхности S = 6·a2.

In [14]:
a=float(input())
V=a**3
S=6*a**2
print(V)
print(S)

31
29791.0
5766.0

**Раздел Integer**

Integer3. Дан размер файла в байтах. Используя операцию деления нацело, найти количество полных килобайтов, которые занимает данный файл (1 килобайт = 1024 байта).

In [23]:
B=int(input())
KB= B // 1024
print(KB)

1000000
976

Integer7. Дано двузначное число. Найти сумму и произведение его цифр.

In [25]:
n = int(input())
a = n // 10
b = n % 10
S = a + b
P = a * b
print(S, P)

77
14 49

Integer22. С начала суток прошло N секунд (N — целое). Найти количество се- кунд, прошедших с начала последнего часа.

In [36]:
N = int(input())
Sec = N % 3600
print(Sec)

3601
1

Integer24. Дни недели пронумерованы следующим образом: 0 — воскресенье, 1 — понедельник, 2 — вторник, …, 6 — суббота. Дано целое число K, ле- жащее в диапазоне 1–365. Определить номер дня недели для K-го дня года, если известно, что в этом году 1 января было понедельником.

In [64]:
K = int(input())
d = (K + 6) % 7
print(d)

144
3

Дан номер некоторого года (целое положительное число). Опреде- лить соответствующий ему номер столетия, учитывая, что, к примеру, на- чалом 20 столетия был 1901 год.

In [38]:
y = int(input())
c = (y + 99) // 100
print(c)

121
2

**Раздел Boolean**

Boolean1. Дано целое число A. Проверить истинность высказывания: «Число
A является положительным».

In [65]:
A = int(input())
print(A > 0)

1
True

Boolean2. Дано целое число A. Проверить истинность высказывания: «Число A
является нечетным».

In [66]:
A = int(input())
print(A % 2 != 0)

3
True

Boolean3. Дано целое число A. Проверить истинность высказывания: «Число A
является четным».

In [67]:
A = int(input())
print(A % 2 == 0)

0
True

Boolean4. Даны два целых числа: A, B. Проверить истинность высказывания:
«Справедливы неравенства A > 2 и B  3».

In [68]:
A = int(input())
B = int(input())
print(A > 2 and B <= 3)

-90
1
False

Boolean5. Даны два целых числа: A, B. Проверить истинность высказывания:
«Справедливы неравенства A  0 или B < –2».

In [69]:
A = int(input())
B = int(input())
print(A >= 0 or B < -2)

4
77
True

**Раздел If**

If17. Даны три переменные вещественного типа: A, B, C. Если их значения упо- рядочены по возрастанию или убыванию, то удвоить их; в противном слу- чае заменить значение каждой переменной на противоположное. Вывести новые значения переменных A, B, C.

In [70]:
A = float(input())
B = float(input())
C = float(input())
if (A <= B <= C) or (A >= B >= C):
    print(2 * A, 2 * B, 2 * C)
else:
    print(-A, -B, -C)

1
1
2
2.0 2.0 4.0

If18. Даны три целых числа, одно из которых отлично от двух других, равных между собой. Определить порядковый номер числа, отличного от осталь- ных.

In [71]:
A = int(input())
B = int(input())
C = int(input())
if A == B:
    print(3)
elif A == C:
    print(2)
else:
    print(1)

3
2
10
1

If19. Даны четыре целых числа, одно из которых отлично от трех других, рав- ных между собой. Определить порядковый номер числа, отличного от ос- тальных.

In [72]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())
if A == B == C:
    print(4)
elif A == B == D:
    print(3)
elif A == C == D:
    print(2)
else:
    print(1)

0
10
20
30
1

If20. На числовой оси расположены три точки: A, B, C. Определить, какая из двух последних точек (B или C) расположена ближе к A, и вывести эту точ- ку и ее расстояние от точки A.

In [73]:
A = float(input())
B = float(input())
C = float(input())
dist_B = abs(B - A)
dist_C = abs(C - A)
if dist_B < dist_C:
    print(f"{B} {dist_B}")
else:
    print(f"{C} {dist_C}")

99
66
00
66.0 33.0

If21. Даны целочисленные координаты точки на плоскости. Если точка совпа- дает с началом координат, то вывести 0. Если точка не совпадает с началом координат, но лежит на оси OX или OY, то вывести соответственно 1 или 2. Если точка не лежит на координатных осях, то вывести 3.

In [74]:
x = int(input())
y = int(input())
if x == 0 and y == 0:
    print(0)
elif x == 0:
    print(1)
elif y == 0:
    print(2)
else:
    print(3)

1
0
2

**Раздел** **For**

For5. Дано вещественное число — цена 1 кг конфет. Вывести стоимость 0.1, 0.2, …, 1 кг конфет.

In [75]:
price_per_kg = float(input())
for i in range(1, 11):
    weight = i / 10
    cost = price_per_kg * weight
    print(cost)

33
3.3000000000000003
6.6000000000000005
9.9
13.200000000000001
16.5
19.8
23.099999999999998
26.400000000000002
29.7
33.0

For10. Дано целое число N (> 0). Найти сумму
1 + 1/2 + 1/3 + … + 1/N

In [76]:
N = int(input())
summation = 0
for i in range(1, N + 1):
    summation += 1 / i
print(summation)

999
7.484470860550343

For15. Дано вещественное число A и целое число N (> 0). Найти A в степени N:
AN = A·A· … ·A

In [77]:
A = float(input())
N = int(input())
result = A ** N
print(result)

1
1
1.0

For38. Дано целое число N (> 0). Найти сумму 1N + 2N–1 + … + N1. Чтобы избе- жать целочисленного переполнения, вычислять слагаемые этой суммы с помощью вещественной переменной и выводить результат как веществен- ное число.

In [78]:
N = int(input())
total_sum = 0
for i in range(N, 0, -1):
    total_sum += i ** (N - i + 1)
print(total_sum)

2
3

For40. Даны целые числа A и B (A < B). Вывести все целые числа от A до B включительно; при этом число A должно выводиться 1 раз, число A + 1 должно выводиться 2 раза и т. д.

In [79]:
A = int(input())
B = int(input())
for i in range(A, B + 1):
    for _ in range(i - A + 1):
        print(i)

7
1

**Раздел While**

While1. Даны положительные числа A и B (A > B). На отрезке длины A разме- щено максимально возможное количество отрезков длины B (без наложе- ний). Не используя операции умножения и деления, найти длину незанятой части отрезка A.

In [59]:
A = int(input())
B = int(input())
r = A
while r >= B:
    r -= B
print(r)

10
11
10

While3. Даны целые положительные числа N и K. Используя только операции сложения и вычитания, найти частное от деления нацело N на K, а также остаток от этого деления.

In [80]:
N = int(input())
K = int(input())
q = 0
r = N
while r >= K:
    q += 1
    r -= K
print(q, r)

1
2
0 1

While7. Дано целое число N (> 0). Найти наименьшее целое положительное число K, квадрат которого превосходит N: K2 > N. Функцию извлечения квадратного корня не использовать.

In [81]:
N = int(input())
K = 1
while K * K <= N:
    K += 1
print(K)

9
4

While14. Дано число A (> 1). Вывести наибольшее из целых чисел K, для кото- рых сумма 1 + 1/2 + … + 1/K будет меньше A, и саму эту сумму.

In [83]:
A = float(input())
K = 1
summation = 0
while summation + 1 / (K + 1) < A:
    K += 1
    summation += 1 / K
print(K, summation)

1
3 0.8333333333333333

While22. Дано целое число N (> 1). Если оно является простым, то есть не имеет положительных делителей, кроме 1 и самого себя, то вывести True, иначе вывести False.

In [84]:
N = int(input())
is_prime = True
i = 2
while i * i <= N:
    if N % i == 0:
        is_prime = False
        break
    i += 1
print(is_prime)

9
False